<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nz.emissary.emissaryapp" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".EmissaryApplication"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBRTzn3m4Upl2hATCmRBUXYDA1nzN3QwwU" />

        <activity
            android:name=".activities.SplashActivity"
            android:label="Emissary"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ViewPublicListingsActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activities.CreateDeliveryActivity"
            android:label="Create new delivery"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.ViewMyListingsActivity"
            android:launchMode="singleTask">
        </activity>

        <activity
            android:name=".activities.ViewDriverAccountActivity"
            android:label="Driver Settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.ViewPublicListingsActivity">
        </activity>

        <activity
            android:name=".activities.ViewAccountActivity"
            android:label="My Account"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.ViewMyListingsActivity">
        </activity>

        <activity
            android:name=".activities.ViewMyFeedbackActivity"
            android:label="My Feedback"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.ViewAccountActivity">
        </activity>

        <activity
            android:name=".activities.ContactUsActivity"
            android:label="Contact Us"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            android:parentActivityName=".activities.ViewMyListingsActivity">
        </activity>

        <activity
            android:name=".activities.SetupDriverAccount"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.ViewItemActivity"
            android:label="View Item"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.ViewPublicListingsActivity">
        </activity>

        <activity
            android:name=".activities.ViewItemStatusActivity"
            android:label="Your Listing Status"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.ViewMyListingsActivity">
        </activity>

        <activity
            android:name=".activities.ViewCompletedItemActivity"
            android:label="Your Listing Status"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.ViewMyCompletedListingsActivity">
        </activity>

        <activity
            android:name=".activities.ViewMyListingsActivity"
            android:label="My Listings"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.ViewMyCompletedListingsActivity"
            android:label="Completed Deliveries"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.ViewMyListingsActivity">
        </activity>

        <activity
            android:name=".activities.ViewMyDeliveriesActivity"
            android:label="My Deliveries"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".activities.EditItemActivity"
            android:label="Your listing"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.ViewMyListingsActivity">
        </activity>

        <activity
            android:name=".activities.DriverEditItemActivity"
            android:label="Your listing"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".activities.ViewMyDeliveriesActivity">
        </activity>
    </application>

</manifest>
